h1 {
    text-align: center;
}

.main-banner {
    background-image: url("/assets/index_background.jpg");
    height: 85vh;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}