body {
    max-width: 100%;
    overflow-x: hidden;
}

.menu-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
                    url("/assets/index_background.jpg");
    height: 35vh;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
}

.menu-products {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}

.menu-products img {
    height: 35vh;
    width: 35vh;
    margin: 3vh 10vh 0vh 0vh;
}

.menu-products h4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10vh;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    margin-top: 1vh;
}