body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    margin-bottom: 0;
}

.menu-products {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
}


.menu-products img {
    height: 35vh;
    width: 35vh;
    margin: 3vh 10vh 0vh 0vh;
}

.menu-products h4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10vh;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    margin-top: 1vh;
}