h1 {
    text-align: center;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.main-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4)), url("./images/index_background.jpg");
    height: 85vh;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 8.5vh;
    font-family: "Rajdhani", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page {
    margin-top: 8vh;
    display: flex;
    text-align: center;
    padding: 0vh 8vh;
    align-items: center;
}

.landing-page .landing-text {
    font-family: "Kanit", sans-serif;
    width: 60%;
    padding-right: 2vh;
}

.landing-page .landing-image {
    width: 40%;
    text-align: end;
    padding-left: 2vh;
}

.landing-page .landing-text2 {
    font-family: "Kanit", sans-serif;
    width: 60%;
    padding-left: 2vh;
}

.landing-page .landing-image2 {
    width: 40%;
    text-align: end;
    padding-right: 2vh;
}

.landing-page .landing-text h2 {
    font-size: 8vh;
}

.landing-page .landing-text p {
    font-size: 4.5vh;
    text-align: justify;
    text-justify: inter-word;
}

.landing-page .landing-text2 h2 {
    font-size: 8vh;
}

.landing-page .landing-text2 p {
    font-size: 4.5vh;
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 1400px) {
    .landing-page {
        flex-direction: column;
    }
}